<div class="container__big-card">
    <div class="big-card__img">
        <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" 
        alt="" srcset=""
        height="200px">
    </div>

    <div class="big-card__title">
        <h1>Saiu a nova versão do Angular</h1>
    </div>

    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut dignissim diam. 
            Sed viverra efficitur dolor, vitae iaculis ante molestie ac. 
            Phasellus nec viverra massa. Aliquam vel neque imperdiet, suscipit lectus vitae, convallis ipsum. 

        </p>
    </div>
</div>
