<div class="container__big-card">
    <div class="big-card__img">
        <img src="https://imgs.search.brave.com/B2YrepZ-_s_Drt30Nrs1fOpWmxRxQKH5oKzNEJIgsQU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA3LzU1LzE1LzQ3/LzM2MF9GXzc1NTE1/NDc5Ml9sNUY4c2Ex/eW1GdUxYbHhyVGd3/MFhzMm00TFRTNFli/Yy5qcGc" 
        alt="" srcset=""
        height="200px">
    </div>

    <div class="big-card__title">
        <h1><a href="#">Spider Man versão venom</a></h1>
    </div>

    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut dignissim diam. 
            Sed viverra efficitur dolor, vitae iaculis ante molestie ac. 
            Phasellus nec viverra massa. Aliquam vel neque imperdiet, suscipit lectus vitae, convallis ipsum. 

        </p>
    </div>
</div>
