<header>
<app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container__articles">
     <div class="articles__main">
        <app-big-card 
        photoCover="https://imgs.search.brave.com/B2YrepZ-_s_Drt30Nrs1fOpWmxRxQKH5oKzNEJIgsQU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA3LzU1LzE1LzQ3/LzM2MF9GXzc1NTE1/NDc5Ml9sNUY4c2Ex/eW1GdUxYbHhyVGd3/MFhzMm00TFRTNFli/Yy5qcGc"
        cardTitle="Novo Homem-Aranha anunciado"
        cardDescription="Marvel Studios anuncia novo filme do Homem-Aranha">
      </app-big-card>
     </div>
     <div class="articles__others">
        <app-small-card
        photoCover="https://imgs.search.brave.com/V47MA08kS8wYXO4lTGAfyhzKRy_i4ajP63YadkgsIEA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvaXJv/bi1tYW4tcGljdHVy/ZXMtOWZpdzZ1OWQ2/NzJhemU2Ni5qcGc"
        title="Iron Man voando pela cidade">
      </app-small-card>

        <app-small-card
        photoCover="https://imgs.search.brave.com/Q6nMk6K-aKbr8JmuFmUFEkSIUVdXJ_eUGYA35vI7VCA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9sdW1p/ZXJlLWEuYWthbWFp/aGQubmV0L3YxL2lt/YWdlcy9pbWFnZV85/YTgzMmJhZS5qcGVn/P3JlZ2lvbj0wLDAs/MTQ2MCw4MjQ"
        title="Doutor estranho te estranhando">
      </app-small-card>

        <app-small-card
        photoCover="https://imgs.search.brave.com/3mJC0ttpfN-PSnXSz5Xttt3d9VodiPvcBusw9hn5l1Y/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9sdW1p/ZXJlLWEuYWthbWFp/aGQubmV0L3YxL2lt/YWdlcy9hbnRtYW5h/bmR0aGV3YXNwNWIw/ZWU0OThjYzgyOV8y/OTQ2ODEyOS5qcGVn/P3JlZ2lvbj0wLDAs/OTI3LDQ5Mg"
        title="Homem formiga gostando de algo">
      </app-small-card>
     </div>
</div>